body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color:rgb(34, 129, 82) ;
}
h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
   font-weight: bold;
     color: peachpuff;
    text-align:center;
}

a{
    font-size: 1.2rem;
    margin-bottom: 2rem;
     color: peachpuff;
    text-align:center;
}
